<h3 class="parkName">{{name}}</h3>
<p class="parkDescrip">{{description}}</p>
<p class="parkLocal">{{location}}</p>
<p class="parkHours">Operating Hours: {{#each operating_hours}}{{this.opening}} - {{this.closing}}{{/each}}</p>

